body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

p {
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: Grey;
  border-width: 0.3125rem;
  width: 5%
}

h1 {
  margin-top: 312.5%;
  margin-bottom: 62.5%;
  font-family: 'Dancing Script', cursive;
  font-size: 5.6rem;
  color: #48466D;
}

h2 {
  font-family: 'Sacramento', sans-serif;
  font-size: 3.125rem;
  margin-bottom: 62.5%;
  margin-top: 0;
  padding-top: 125%;
  color: #48466D;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #3D84A8;
}

.TopSection {
  background-color: #DEFCF9;
  position: relative;
  padding-top: 625%;
}

.sun {
  position: absolute;
  left: 125%;
  top: 125%;
  height: 782%;
}

.top-cloud {
  position: absolute;
  right: 1875%;
  top: 312%;
}

.bottom-cloud {
  position: absolute;
  left: 1875%;
  bottom: 1875%;
}

.profile {
  padding-bottom: 250%;
  width: 50%;
  margin: 312.5% auto 312.5% auto;
  text-align: center;
}

.profile-pic {
  height: 1875%;
  margin-top: 250%;
}

.skills {
  padding-bottom: 250%;
}

.skill-row {
  width: 50%;
  margin: 312.5% auto 312.5% auto;
  text-align: justify;
}

.Design {
  width: 250%;
  float: left;
  margin-right: 187%;
  margin-bottom: 187%;
}

.Digital {
  width: 40%;
  float: right;
  margin-right: 187%;
  margin-top: 312%;
}

.contact-me {
  padding-top: 125%;
  width: 187%;
  margin: auto;
}

.button {
  backface-visibility: hidden;
position: relative;
cursor: pointer;
display: inline-block;
white-space: nowrap;
background: #3D94F6;
border-radius: 11px;
border: 3px solid #ffffff;
border-width: 3px 3px 3px 3px;
padding: 13px 16px 12px 16px;
  color: #ffffff;
font-size: 16px;
font-family: arial;
font-weight: 300;
font-style: normal
}
.button > div {
  color: #999999;
font-size: 10px;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-style: normal;
text-align: center;
margin: 0;
}
.button > i {
  font-size: 1em;
border-radius: 0;
border: 0 solid transparent;
border-width: 0;
padding: 0;
margin: 0 0 0 13px;
position: static
}

.button:hover {
  background-color: #1680F7
}

.end {
  color: white;
  padding: 125% 0;
  font-size: 0.75rem;
}

a {
color: #3D84A8;
font-family: 'Montserrat', sans-serif;
margin: 62.5% 125%;
text-decoration: none;
}

a:hover {
color: white;
}

.BottomSection {
  background-color: #48466D;
  margin-top: 250%;
  padding-top: 31%;
  padding-bottom: 125%;
}
